<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225199737456-m4hkd2ke79fc4r4v0e1bbckecamj3mdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225199737456-m4hkd2ke79fc4r4v0e1bbckecamj3mdl</string>
	<key>API_KEY</key>
	<string>AIzaSyAxZm8jjs-PUQZTpU1H7uV7xH6QTXS3lms</string>
	<key>GCM_SENDER_ID</key>
	<string>225199737456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fun.IELTSScience.app</string>
	<key>PROJECT_ID</key>
	<string>ielts-science</string>
	<key>STORAGE_BUCKET</key>
	<string>ielts-science.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225199737456:ios:5c5b617665c7a31a9b42b5</string>
</dict>
</plist>